{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/usuario/password_change_form.css' %}" >
{% endblock css %}

{% block contenido %}

    <div class="form-container">
        <h2 class="form-title">Cambiar Contraseña</h2>
        <form method="post" class="change-password-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn-submit">Cambiar</button>
        </form>
    </div>

{% endblock %}