{% autoescape off %}
Estás recibiendo este correo electrónico porque solicitaste un restablecimiento de contraseña para tu cuenta de usuario en {{ site_name }}.

Por favor, vaya a la siguiente página y elija una nueva contraseña:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Tu nombre de usuario, en caso de que lo hayas olvidado: {{ user.username }}

¡Gracias por utilizar nuestro sitio!

El Equipo de {{ site_name }}.

{% endautoescape %}