{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/usuario/password_reset_complete.css' %}" >
{% endblock css %}

{% block contenido %}

    <div class="notification-container">
        <h2 class="notification-title">Contraseña Restablecida</h2>
        <p class="notification-message">Tu contraseña ha sido restablecida correctamente.</p>
        <a href="{% url 'login' %}" class="btn-back">Iniciar sesión</a>
    </div>

{% endblock %}