{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/usuario/password_reset_form.css' %}" >
{% endblock css %}

{% block contenido %}

    <div class="reset-password-container">
        <h2 class="reset-password-title">Restablecer Contraseña</h2>
        <p class="reset-password-description">Introduce tu correo electrónico y recibirás instrucciones para restablecer tu contraseña.</p>

        <form method="post" class="reset-password-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn-submit">Enviar</button>
        </form>
    </div>
{% endblock %}