{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/usuario/password_reset_done.css' %}" >
{% endblock css %}

{% block contenido %}

    <div class="notification-container">
        <h2 class="notification-title">Correo Enviado</h2>
        <p class="notification-message">Si el correo existe en nuestra base de datos, recibirás instrucciones para restablecer tu contraseña.</p>
        <a href="{% url 'login' %}" class="btn-back">Iniciar sesión</a>
    </div>

{% endblock %}